<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Application Penetration Testing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="navbar">
    🔐 Web Application Penetration Testing Tool
    <br>
    Created By: Prakanth V
</header>

<div class="container">

    <div class="card">
        <h2>Target Website</h2>

        <form method="POST">
            <input type="text" name="url" placeholder="Enter target URL (https://example.com)" required>
            <button type="submit">Start Scan</button>
        </form>

        <div class="result orange">
            ⚠️ Scan only websites you own or have permission to test.
        </div>
    </div>

    <div class="card">
        <h2>Features</h2>
        <ul>
            <li>OWASP Top 10 vulnerability detection</li>
            <li>SQL Injection & XSS testing</li>
            <li>Security header analysis</li>
            <li>HTTPS & misconfiguration checks</li>
            <li>OWASP ZAP integration</li>
            <li>CVSS v3.1 scoring</li>
        </ul>
    </div>

</div>

<footer class="footer">
    © 2026 Web Penetration Testing Project
</footer>

</body>
</html>
